<%- include('./partials/head', { title : 'Detalle de película' }) %> 
<body class="detail">
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    
    <section id="formulario-api">

    </section>
    
<%- include('./partials/bodyEnd.ejs') %> 